name: Generate

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - openapi.json
    branches:
      - main

jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install uv
        uses: astral-sh/setup-uv@6b9c6063abd6010835644d4c2e1bef4cf5cd0fca # v6.0.1

      - name: Install Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: '1.24'

      - name: Install the project
        run: uv sync --all-extras --dev

      - run: go install github.com/sumup/python-sdk-gen/cmd/python-sdk-gen@latest

      - name: Generate SDK
        run: py-sdk-gen generate --out sumup --module sumup --package sumup --name 'SumUp' ./openapi.json

      - name: Format
        run: uv run ruff format

      - name: Auto-fix
        run: uv run ruff check --fix

      - name: Commit changes
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          add: .
          message: "chore: generate code"
          default_author: github_actions
